<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/basewra.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="base-class">
      <div class="sidenavwrapper">
        <div class="logo">
          <a href="/"> <img src="../static/images/logo.png" alt="" /></a>
        </div>
        <div class="side-nav-button-wrapper">
          <div class="side-nav-buttons">
            <button>
              <a href="/dashboard">
                <img
                  class="side-nav-logo"
                  src="../static/images/logo.png"
                  alt=""
                />
                Dashboard</a
              >
            </button>
            <button>
             <a href="/bookings">
                <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Bookings
             </a>  
            </button>
            <button>
                <a href="/rewards">
                    <img
                        class="side-nav-logo"
                        src="../static/images/logo.png"
                        alt=""
                    />
                    Rewards
                </a>
            </button>
            <button>
                <a href="/news">
                    <img
                        class="side-nav-logo"
                        src="../static/images/logo.png"
                        alt=""
                    />
                    News
                </a>
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Redeem
            </button>
          </div>
          <div class="side-nav-buttons">
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Notifications
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Support
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Settings
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Logout
            </button>
          </div>
        </div>
      </div>
      <div class="homepagecontentwrapper">
        <div class="top-nav-bar">
          <div class="topnavbartitlewrapper">
            <h1>{% block title %} {% endblock %}</h1>
          </div>
          <div class="topnavbarsearchwrapper">
            <div>
              <input type="text" />
            </div>
            <button>
              <img
                class="side-nav-logo-top-nav"
                src="../static/images/logo.png"
                alt=""
              />
            </button>
          </div>
          <div class="topnavbarprofilebuttonwrapper">
            <a href="">
              <div>
                <img
                  class="side-nav-logo"
                  src="../static/images/logo.png"
                  alt=""
                />
              </div>
              <div>
                <p>ajay vishnu</p>
                <p>@ajayvishnu</p>
              </div>
            </a>
          </div>
        </div>
        <div class="dynamiccontentwrapper">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
