<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/basewrap.css" />
    <title>Document</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <div class="base-class">
      <div>
        <div class="logo">
          <img src="../static/images/logo.png" alt="" />
        </div>
        <div class="side-nav-button-wrapper">
          <div class="side-nav-button top">
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Dashboard
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Bookings
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Rewards
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              News
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Redeem
            </button>
          </div>
          <div class="side-nav-button bottom">
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Notifications
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Support
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Settings
            </button>
            <button>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
              Logout
            </button>
          </div>
        </div>
      </div>
      <div class="top-nav-bar">
        <div><input type="text" /></div>
        <button>
          <img class="side-nav-logo-top-nav" src="../static/images/logo.png" alt="" />
        </button>
        <div>
          <a href="">
            <div>
              <img
                class="side-nav-logo"
                src="../static/images/logo.png"
                alt=""
              />
            </div>
            <div>
              <p>ajay vishnu</p>
              <p>@ajayvishnu</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% block scripts %} {% endblock %}
  </body>
</html>
