{% extends 'base.html' %} {% block title %} Logout{% endblock %} 
{% block content %}
<section id= 'logout' class="flex flex-col w-full h-full bg-gray-50 gap-4 overflow-x-auto" >
			<div class="flex justify-center items-center mt-4">
				<img class="" src="../static/images/Logout-main-img.svg"/>
			</div>
			<div>
				<h1 class="text-center text-3xl font-semibold p-2">Are you sure?</h1>
				<h1 class="text-center text-lg font-lg p-2">You are about to logout, are you sure you want to log out?</h1>
			</div>
			<div class="flex justify-center items-center">	
				<a href="/">
					<button class="w-48 h-12 rounded-lg bg-red-400 text-white mr-4">LOGOUT</button>
				</a>
				<a href="/dashboard">
					<button class="w-48 h-12 rounded-lg bg-black text-white">Go back</button>
				</a>
			</div>
		</section>

{% endblock %}
