{% extends 'base.html' %} 
{% block title %} Bin Ordered{% endblock %}
{% block content %}  

<section id= 'OrderbinSuccess' class="flex flex-col bg-gray-50 gap-4 overflow-x-auto justify-center" >
			<div class="flex justify-center items-center mt-0">	
				<img class="w-[450px]" src="../../static/images/OrderBin-Success.svg"/>
			</div>
			<div>
				<h1 class="text-center text-4xl font-semibold p-2 leading-none">Order Placed Successfully</h1>
				<h1 class="text-center text-lg font-lg p-2 leading-none">Your request is processed. WRAP bins will be delivered to you soon.</h1>
			</div>
			<div class="flex justify-center">
				<a href="/dashboard" class="w-48 h-12 rounded-lg py-2 text-center bg-[#009743] text-white">
					Go back
				</a>
			</div>
		</section>

{% endblock %}
