{% extends 'base.html' %} 
{% block title %} Dump Successfull{% endblock %}
{% block content %}  

	<section id= 'DropoffSuccess' class="flex flex-col bg-gray-50 gap-4 overflow-x-auto justify-center" >
		<div class="flex justify-center items-center mt-0">	
			<img class="h-[300px]" src="../../static/images/Drop-off-success.svg"/>
		</div>
		<div>
			<h1 class="text-center text-4xl font-semibold p-2 leading-none">Drop Off Scheduled Successfully</h1>
			<h1 class="text-center text-lg font-lg p-2 leading-none">You can drop off at your nearest collection center during working hours.</h1>
		</div>
		<div class="flex justify-center">
			<a href="/dashboard" class=" w-48 h-12 text-center py-3 rounded-lg bg-[#009743] text-white">
				Go back
			</a>
		</div>
	</section>

{% endblock %}
