{% extends 'base.html' %} 
{% block title %} Pickup Successfull{% endblock %}
{% block content %}  
	<section id= 'ScheduleSuccess' class="flex flex-col bg-gray-50 gap-4 overflow-x-auto w-full h-full justify-center" >
		<div class="flex justify-center items-center mt-4">
			<img class="w-[550px]" src="../../static/images/Schedule-Success.svg"/>
		</div>
		<div>
			<h1 class="text-center text-4xl font-semibold p-2 leading-none">Pickup Scheduled Successfully</h1>
			<h1 class="text-center text-lg font-lg p-2 leading-none">An associate will get in touch with you soon.</h1>
		</div>
		<div class="flex justify-center">
			<a href="/dashboard">
				<button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
			</a>
		</div>
	</section>


{% endblock %}
